.aks{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    .aks-center{
        width: 90%;
        height: 100%;
        background-color: lightgray;
        border-radius: 15px;
        .ask-center-item{
            width: 100%;
            height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
            img{
            margin: 25px;
            
        }
        .svg{
            margin-bottom: 50px;
            margin-top: 15px;
            margin-right: 5px;
            margin-top: 40px;
        }
        }
    }
}