.category{
    width: 100%;
    height: 170px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    .category-center{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 30px;
        box-sizing: border-box;
        .category-item{
            width: fit-content;
            height: 100%;
            
            img{
                width: 52px;
                height: 52px;
                display: block;
                margin: 0 auto;
            }
            p{
                width: 50%;
                font-size: 13px;
                font-weight: bold;
                font-family: Yekan;
                margin: 10px auto;
            }
        }
    }
}
.circle{
    width: 50px;
    height: 50px;
    background-color: lightgray;
    margin-right: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2px;
    .circle-item{
        width: 10px;
        height: 10px;
        background-color: rgb(167, 167, 167);
        border-radius: 50%;
    }
}