.digital{
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    .digital-center{
        width: 90%;
        height: 100%;
         .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-item{
        width: 100%;
        height: 100%;
        background-color: white;
        img{
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
            h4{
                font-family: Yekan;
                font-size: 14px;
            }
        }
        .swiper-slide-item-digit{
        width: 100%;
        height: 50%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    }
}