.favorites{
  width: 100%;
  height: 400px;
  
  
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  .favorites-item{
    width: 90%;
    height: 100%;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 16px;
    h1{
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper {
      width: 100%;
      height: 85%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .swiper-slide-item{
       width: 100%;
       height: 100%;
       
       .swiper-slide-item-product{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            column-gap: 15px;
            align-items: center;
            img{
                width: 86px;
                height: 86px;
            }
            span{
                font-size: 30px;
                color: aqua;
                font-weight: bold;
            }
            p{
                width: 100%;
                font-size: 14px;
            }
       }
       .swiper-slide-item-product2{
            width: 100%;
            height: 33%;
            
            display: flex;
            justify-content: center;
            column-gap: 15px;
            align-items: center;
            img{
                width: 86px;
                height: 86px;
            }
            span{
                font-size: 30px;
                color: aqua;
                font-weight: bold;
            }
            p{
                width: 100%;
                font-size: 14px;
            }
       }
       .swiper-slide-item-product3{
            width: 100%;
            height: 30%;
            
            display: flex;
            justify-content: center;
            column-gap: 15px;
            align-items: center;
            img{
                width: 86px;
                height: 86px;
            }
            span{
                font-size: 30px;
                color: aqua;
                font-weight: bold;
            }
            p{
                width: 100%;
                font-size: 14px;
            }
       }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}