.gallery{
    width: 100%;
    height: 290px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    .gallery-center{
        width: 90%;
        height: 100%;
        background-color: red;
        display: flex;
        justify-content: center;
        column-gap: 5px;
        .gallery-center-item{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
            width: 25%;
            height: 100%;
        }
        }

    }
}