.header{
    width: 100%;
    height: 170px;
    box-shadow: 0 1px 1px lightgrey;
    position: fixed;
    top: 0;
    z-index: 99999;
    background-color: white;
    .header-top{
        width: 100%;
        height: 60px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .header-center{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        
        .header-center-center{
            width: 80%;
            height: 100%;
            display: flex;
            .header-logo{
                width: 15%;
                height: 100%;
                justify-content: center;
                align-items: center;
                margin-top: 18px;
                img{
                    width: 155px;
                    height: 35px;
                }
            }
         .header-search{
            width: 70%;
            height: 100%;
            display: flex;
            padding-right: 20px;
            align-items: center;
            
            .header-search-input{
                width: 600px;
                height: 40px;
                background-color: rgb(228, 228, 228);
                border: none;
                border-radius: 4px;
                padding-right: 30px;
                box-sizing: border-box;
                font-family: Yekan;
                font-size: 14px;
                font-weight: bold;
                outline: none;
            }
         }
         .header-register{
            width: 15%;
            height: 75%; 
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 5px; 
            border: 1px solid lightgray;
            border-radius: 10px;
            margin-top: 10px;
            a{
                color: #2b2b2b;
                text-decoration: none;
            }
         }
        }
    }
    .header-bottom{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            .header-bottom-center{
                width: 80%;
                height: 100%;
                display: flex;
                .header-bottom-right{
                    width: 70%;
                    height: 100%;
                    display: flex;
                    .header-bottom-right-item{
                        width: fit-content;
                        height: 100%;
                        
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            font-family: Yekan;
                            font-size: 12px;
                            text-decoration: none;
                            padding: 0 10px;
                            line-height: 40px;
                            color: #2b2b2b;
                            transition: 300ms;
                            &:hover{
                                background-color: lightgray;
                                color: black;
                                border-radius: 6px;
                            }

                        }
                    }
                }
                .header-bottom-left{
                    width: 30%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 200px;
                    box-sizing: border-box;
                    h5{
                        font-size: 12px;
                        padding: 5px 20px;
                        background-color: rgb(255, 228, 205);
                        color: rgb(226, 120, 15);
                        border-radius: 20px;
                        &:hover{
                            color: blueviolet;
                        }

                    }
                }
            }
         }
}