@import "./setting.css";
@import "./header.css";
@import "./story.css";
@import "./slider.css";
@import "./category.css";
@import "./wonderfull.css";
@import "./gallery.css";
@import "./aks.css";
@import "./digital.css";
@import "./mobile.css";
@import "./favorites.css";
@import "./saat.css";
@import "./haraj.css";
@import "./hot.css";
@import "./what.css";
@import "./bottom.css";