.mobile{
    width: 100%;
    height: 420px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    .mobile-center{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgray;
        border-radius: 16px;
        .mobile-center-item{
            width: 25%;
            height: 100%;
            .mobile-center-item-top{
                padding-top: 10px;
                padding-right: 10px;
                box-sizing: border-box;
                margin-bottom: 10px;
                h1{
                    font-size: 22px;
                    font-weight: bold;
                    font-family: Yekan;
                    margin-bottom: 6px;
                }
                p{
                    font-size: 11px;
                    font-family: Yekan;
                }
            }
            .mobile-center-item-center{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                gap: 1px;
                div{
                    width: 39%;
                    display: flex;
                    justify-content: center;
                    img{
                        width: 130px;
                        height: 130px;
                    }
                }
                
            }
        }
    }
}
.border-left{
    border-left: 1px solid lightgray;
}
.border-bottom{
    border-bottom: 1px solid lightgray;
}

