.watch{
    width: 90%;
    height: 450px;
    border: 1px solid lightgray;
    border-radius: 14px;
    
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 75px;
    .watch-center{
        width: 90%;
        height: 100%;
        
        .watch-center-item{
            width: 100%;
            height: 90px;
            
            .watch-center-item-top{
                width: 100%;
                height: 100%;
                h2{
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 20px;
                    margin-right: 20px;
                    margin-top: 15px;
                }
                h3{
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 14px;
                    color: rgb(155, 152, 152);
                    margin-right: 20px;
                    margin-top: 15px;
                }
            }
        }
        .watch-center-item-center{
                width: 336px;
                height: 315px;
                
                .watch-center-item-center-center{
                    width: 100%;
                    height: 50%;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .div1{
                        width: 130px;
                        height: 130px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .div2{
                        width: 130px;
                        height: 130px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                
            }
            .watch-center-item-center2{
                width: 100%;
                height: 50%;
                
                display: flex;
                justify-content: center;
                align-items: center;
                .div3{
                        width: 130px;
                        height: 130px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .div4{
                        width: 130px;
                        height: 130px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
            }
            .link{
                width: 100%;
                height: fit-content;
                
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    font-size: 17px;
                    color: aqua;
                    text-decoration: none;
                }
            }
    }
}
