.what{
    width: 100%;
    height: 50px;

    .what-item{
        display: flex;
        margin-bottom: 15px;
   
        h3{
            font-size: 20px;
            margin-right: 20px;
        }
        h2{
            font-size: 19px;
            color: aqua;
            margin-right: 77%;
        }
    }
    .what-item-product{
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        column-gap: 10px;
       
        
        .what-item-center{
        width: 23%;
        height: 290px;
        border-radius: 16px;
        border: 1px solid lightgray;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .what-item-center2{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 230px;
                border-radius: 16px;
                
            }
            p{
                font-size: 16px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    }
    }
}