.wonderfull{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    .wonderfull-center{
        width: 90%;
        height: 100%;
        background-color: crimson;
        padding: 10px 10px 10px 0;
        box-sizing: border-box;
        border-radius: 16px;
         .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-item{
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: crimson;
        .image-1{
          width: 88px;
          height: 88px;
          display: block;
          margin: 5px auto;
        }
        .clock{
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: center;
          flex-direction: row-reverse;
          column-gap: 5px;
          .hours,.minuts,.seconds{
            width: 30px;
            height: 30px;
            background-color: whitesmoke;
            border-radius: 5px;
            font-family: Yekan;
            font-weight: bold;
            font-size: 16px;
          }
          span{
             color: whitesmoke;
          }
          
        }
        .image-2{
          width: 80px;
          height: 80px;
          display: block;
          margin: 15px auto;
        }
        a{
          text-decoration: none;
          font-family: Yekan;
          color: whitesmoke;
          font-size: 14px;
        }
      }
      .swiper-slide-product{
        width: 100%;
        height: 100%;
        background-color: white;
        img{
          width: 132px;
          height: 132px;
          margin: 20px auto;
        }
        p{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          font-size: 12px;
          width: 70%;
          margin: 0 auto;
          margin-bottom: 10px;
          font-family: Yekan;
        }
      }
      .takhfif{
        width: 100%;
        height: 30px;
        
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
        padding: 0 10px;
        h3{
          font-size: 13px;
          font-weight: bold;
          display: flex;
          align-items: center;
          img{
            width: 16px;
            height: 16px;
          }
        }
        h4{
          font-size: 13px;
          font-weight: bold;
          padding: 5px 10px;
          background-color: crimson;
          border-radius: 16px;
          color: whitesmoke;
        }
      }
      .real{
        color: lightgray;
        text-decoration: line-through;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        padding-left: 35px;
        box-sizing: border-box;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    }
}
}