.dastmal{
    width: 100%;
    height: 450px;
 
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    .dastmal-center{
        width: 90%;
        height: 100%;
         border: 1px solid lightgray;
         border-radius: 10px;

        .dastmal-center-item{
            width: 100%;
            height: 100px;
        
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 8px;
            padding-left: 8px;
            p{
                font-weight: bold;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            a{
                text-decoration: none;
                color: aqua;
                font-weight: bold;
                img{
                    width: 15px;
                    height: 15px;
                }
            }
            
        }
        .swiper {
            width: 100%;
            height: 78%;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
    
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-slide-item{
                width: 100%;
                height: 100%;
                border-left: 1px solid lightgray;
                .swiper-slide-item-top{
                    width: 100%;
                    height: 10%;
                
                    p{
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size: 17px;
                        color: red;
                        display: flex;
                        padding-right: 7px;
                        box-sizing: border-box;
                        font-weight: bold;
                    }
                }
                .swiper-slide-item-center{
                    width: 100%;
                    height: 150px;
                 
                    display: flex;
                    justify-content: center;
                    img{
                        width: 150px;
                        height: 150px;
                    }
                }
                .swiper-slide-item-bottom{
                    width: 100%;
                    height: 30px;
                
                    img{
                        width: 25px;
                        height: 25px;
                        border: 1px solid black;
                        border-radius: 50%;
                        background-color: white;
                        position: relative;
                        right: 30px;
                        top: -35px;
                    }
                }
                .swiper-slide-item-end{
                    width: 100%;
                    height: 40px;
                    
                    position: relative;
                    bottom: 15px;
                    p{
                        font-size: 12px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: bold;
                        line-height: 17px;
                        
                    }
                }
                .swiper-slide-item-prise{
                    width: 100%;
                    height: 40px;
                    
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .write{
                        width: 50px;
                        height: 100%;
                     
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p{
                            border: 1px solid lightcoral;
                            border-radius: 8px;
                            font-size: 12px;
                            background-color: red;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 3px 5px;
                        }
                    }
                    .text{
                        width: 100px;
                        height: 100%;
                     
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        padding-left: 4px;
                        .p{
                            font-size: 13px;
                            font-weight: bold;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                        }
                        img{
                            width: 20px;
                            height: 20px;
                            
                        }
                    }
                    
                }
                .discounts{
                    width: 100%;
                    height: 40px;
                    
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    padding-left:24px ;
                    p{
                        font-size: 13px;
                        text-decoration: line-through;
                        color: gray;
                    }
                }

            }
          }
      
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
}