.end{
    width: 100%;
    height: 280px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    .end-center{
        width: 90%;
        height: 100%;
        
        .end-center-item{
            width: 100%;
            height: 100px;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            .end-center-item-top{
                width: fit-content;
                display: flex;
                align-items: center;
                img{
                    width: 120px;
                    height: 120px;
                }
            }
            .end-center-item-top2{
                    width: 130px;
                    height: 40px;
                    border: 1px solid lightgray;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size: 14px;
                        font-weight: bold;
                        color: gray;
                        text-decoration: none;
                    }
                }
        }
        .end-center-item-center{
            width: 100%;
            height: 50px;
        
            display: flex;
            align-items: center;
            justify-content: space-around;
            .end-center-item-center1{
                p{
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 15px;
                    font-weight: bold;
                    color: gray;
                }
            }
            .end-center-item-center2{
                p{
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 15px;
                    font-weight: bold;
                    color: gray;
                }
            }
        }
        .end-center-item-bottom{
            width: 100%;
            height: 130px;
         
            display: flex;
            justify-content: center;
            align-items: center;
            .end-center-item-bottom1{
                width: 100%;
                height: 130px;
           
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 56px;
                    height: 56px;
                }
                p{
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px;
                    font-weight: bold;
                    color: gray;
                }
            }
        }
    }
}
