.haraj {
  width: 100%;
  height: 395px;
  
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  .harag-center {
    width: 90%;
    height: 100%;
    background-color: bisque;
    border-radius: 10px;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      padding: 20px 5px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-item {
        width: 100%;
        height: 100%;
        
        .swiper-slide-item-center-top {
          width: 100%;
          height: 33%;
          
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-size: 25px;
            font-weight: bold;
            color: rgb(2, 93, 2);
            margin-top: 30px;
          }
        }
        .swiper-slide-item-center-center {
          width: 100%;
          height: 33%;
          
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 124px;
            height: 124px;
          }
        }
        .swiper-slide-item-center-bottom {
          width: 100%;
          height: 34%;
          
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            text-decoration: none;
            font-size: 18px;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            margin-bottom: 60px;
            img {
              width: 16px;
              height: 16px;
              
            }
          }
        }
      }
      .swiper-slide-product{
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        .swiper-slide-product-item{
            width: 100%;
            height: 100%;
            
            .swiper-slide-item-product-top{
                width: 100%;
                height: 15%;
               
                padding-top: 15px;
                padding-right: 12px;
                box-sizing: border-box;
                img{
                    width: 64px;
                    height: 14px;
                    
                }
            }
            .swiper-slide-item-product-center{
              width: 100%;
              height: 45%;
              
              display: flex;
              justify-content: center;
              align-items: center;
              img{
                width: 150px;
                height: 150px;
              }

            }
            .swiper-slide-item-product-bottom{
              width: 100%;
              height: 10%;
             
              img{
                width: 30px;
                height: 30px;
                border: 1px solid rgb(67, 65, 65);
                border-radius: 50%;
                position: relative;
                top: -45px;
                right: 33px;
              }
            }
            .swiper-slide-item-product-end{
              width: 100%;
              height: 10%;
             
              display: flex;
              position: relative;
                top: -50px;
              p{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 12px;
                font-weight: bold;
                padding-right: 10px;
                box-sizing: border-box;
              }
            }
            .swiper-slide-item-product-discount{
              width: 100%;
              height: 15%;
             
              display: flex;
              justify-content: space-between;
              .swiper-slide-item-product-discount-right{
                width: 17%;
                height: 100%;
                
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                  font-size: 11px;
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                  border: none;
                  border-radius: 7px;
                  background-color: red;
                  color: white;
                  padding: 2px 3px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
              .swiper-slide-item-product-discount-left{
                width: 50%;
                height: 100%;
               
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-left: 5px;
                p{
                  font-size: 13px;
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                img{
                  width: 20px;
                  height: 20px;
                  
                }

              }
            }
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
