.hott{
    width: 100%;
    height: 412px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    .hott-center{
        width: 90%;
        height: 100%;
        border: 1px solid lightgray;
        border-radius: 8px;
        .hott-center-item{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
                width: 25px;
                height: 25px;
                margin-top: 10px;
            }
            p{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 22px;
                font-weight: bold;
            }
        }
        .swiper {
      width: 100%;
      height: 88%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-items{
        width: 100%;
        height: 100%;
        
        .swiper-slide-item{
            width: 100%;
            height: 121px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-slide-item-topp{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid lightgray;
                img{
                    width: 86px;
                    height: 86px;
                }
            }
            .swiper-slide-item-center{
                width: 100%;
                height: 100px;
               
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 30px;
                    color: aqua;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    margin-left: 22px;
                }

            }
            .swiper-slide-item-bottomm{
                width: 2000px;
                height: 100%;
               
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                left: 10px;
                p{
                    font-size: 12px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    color: gray;
                   
                }
            }
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    }
}