
@import "./header.css";
@import "./slide.css";
@import "./story.css";
@import "./setting.css";
@import "./wonderfull.css";
@import "./haraj.css";
@import "./products.css";
@import "./behdasht.css";
@import "./shooyande.css";
@import "./pooshak.css";
@import "./hot.css";
@import "./foroosh.css"; 
@import "./tanagholat.css";
@import "./drink.css";
@import "./dastmal.css";
@import "./footer.css";
   
 