.products{
    width: 100%;
    height: 445px;
    
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
    .products-center{
        width: 90%;
        height: 100%;
        border: 1px solid lightgray;
        border-radius: 10px;
        .products-item{
            width: 100%;
            height: 50px;
           
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 17px;
                font-weight: bold;
            }
        }
        .swiper {
            width: 100%;
            height: 89%;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-slide-items{
                width: 100%;
                height: 100%;
                
                .swiper-slide-item{
                    width: 100%;
                    height: 50%;
                    
                    .swiper-slide-item-top{
                        width: 100%;
                        height: 70%;
                        
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        img{
                            width: 100px;
                            height: 100px;
                            
                        }
                    }
                    .swiper-slide-item-center{
                        width: 100%;
                        height: 30%;
                        
                        p{
                            font-size: 13px;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            display: flex;
                            justify-content: center;
                            padding-top: 5px;
                            font-weight: bold;
                        }
                    }
                }
            }
          }
      
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
}