.footer{
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    box-shadow: 0 2px 0 lightgray;
    position: sticky;
    top: 9%;
   
    z-index: 99999;
    background-color: white;
        .footer-right{
            width: 50%;
            height: 100%;
            
            display: flex;
            column-gap: 15px;
            align-items: center;
            padding-right: 15px;
            a{
                display: block;
                font-size: 16px;
                
                text-decoration: none;
                color: #2b2b2b;

                transition: 300ms;
            }
             
            :hover{
                background-color: red;
                border-radius: 10px;
                width: 100px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
        .footer-left{
            width: 50%;
            height: 100%;
          
            display: flex;
            justify-content: flex-end;
            padding-left: 20px;
            box-sizing: border-box;
          .footer-left-item{
            width: 25%;
            height: 100%;
            background-color: burlywood;
            border: none;
            border-radius: 5px;
            
            a{
                width: 100%;
                height: 100%;
                display: flex;                
                justify-content: center;
                align-items: center; 
                column-gap: 10px;
                text-decoration: none;
                color: black;               
                transition: 300ms;
                img{
                      width: 20px;
                      height: 20px;
                      
                }
              
            }
            :hover{
                background-color: red;
                border-radius: 10px;
                color: white;
            }
          }

        }
    
}