.wonderfull{
    width: 100%;
    height: 440px;

    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    .wonderfull-center{
        width: 90%;
        height: 100%;
        background-color: green;
        border-radius: 10px;
        .swiper {
            width: 100%;
            height: 100%;

          }
      
          .swiper-slide {
            padding: 20px 10px;
            text-align: center;
            font-size: 18px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            .swiper-slide-item{
                width: 100%;
                height: 100%;
                background-color: green;

                .swiper-slide-item-top{
                    width: 100%;
                    height: 150px;
                   
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    img{
                        width: 120px;
                        height: 120px;
                    }
                }
                .swipre-slide-item-center{
                    width: 100%;
                    height: 170px;
                    
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    img{
                        width: 140px;
                        height: 140px;
                    }
                }
                .swipre-slide-item-bottom{
                    width: 100%;
                    height: 120px;
                  
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .swiper-slide-item-bottom-border{
                        width: 120px;
                        height: 50px;
                        background-color: green;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 8px;
                        border: 1px solid lightgray;
                        a{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-weight: bold;
                            font-size: 12px;
                            display: flex;
                            text-decoration: none;
                            color: white;
                            
                            img{
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
            .swiper-slide-product{
                width: 100%;
                height: 100%;
                background-color: white;
                border-radius: 10px;
                .swiper-slide-product-item{
                    width: 100%;
                    height: 40px;
                    
                    .swiper-slide-product-item-top{
                        
                        img{
                            width: 120px;
                            padding-top: 15px;
                            padding-right:8px ;
                        }
                    }
                    .swiper-slide-product-item-center{
                       width: 100%;
                       height: 150px;
                       padding-top: 11px;
                       .swiper-slide-product-item-center-item{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;

                        background-color: white;
                       }
                        img{
                           
                            width: 120px;
                            height: 120px;

                        }
                    }
                    .swiper-slide-product-item-bottom{
                        width: 100%;
                        height: 25px;
                        
                       .swiper-slide-product-item-bottom-circle{
                        width: 25px;
                        height: 25px;
                        background-color: lightgray;
                        border: 1px solid lightgray;
                        border-radius: 50%;
                        position: relative;
                        bottom: 50px;
                        right: 40px;
                        img{
                            width: 24px;
                            height: 24px;
                            
                        }
                       }
                    }
                    .swiper-slide-product-item-right{
                        width: 100%;
                        height: 25px;
                        
                        position: relative;
                        bottom: 25px;
                        p{
                            display: flex;
                            padding-right: 5px;
                            box-sizing: border-box;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 12px;
                            font-weight: bold;

                        }
                    }
                  .swiper-slide-product-item-left{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 45px;
                    position: relative;
                    bottom: -60px;
                 
                    .free{
                        
                        width: 40px;
                        height: 15px;
                        border: 1px solid lightgray;
                        border-radius: 8px;
                        background-color: aqua;
                        font-size: 12px;
                        font-weight: bold;
                        padding: 10px 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .toman{
                        width:80px;
                        height: 45px;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            font-size: 15px;
                            font-weight: bold;

                        }
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }


                  }
                  .swiper-slide-product-item-kore{
                    width: 100%;
                    height: 30px;
                    
                    position: relative;
                    top: 60px;
                    .discount{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: flex-end;
                        font-size: 12px;
                        text-decoration: line-through;
                        padding-left: 28px;
                        padding-top: 8px;
                    }
                  }
                }
                
            }
          }
      
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }


    }

}